.btn-full-width{
  width: 100%;
  margin-top: 30px ;
}
.btn-original{
  color: white;
  background-color: #103466;
}
table{
  margin-right: auto;
  margin-left: auto;
}
.td-now{
  color: #fff;
  background-color: #3e6aa9; 
  font-size: 50px;
  height: 80px;
  width: 80px;
  border-radius: 10px; 
  border: 2px #e7e7dd solid;
}
.td-status{
  color: #838379;
  background-color: #f8f5be; 
  font-size: 50px;
  width: 80px;
  border-radius: 10px; 
  border: 2px #e7e7dd solid;
}
.td-line{
  width: 80px;
  border: 1px #e7e7dd solid;
  margin: 10px;
}
.form-basic-info{
  margin-top: 50px; 
}
.no-padding{
  padding-left: 0px;
  padding-right: 5px;
}
.input-width-100{
  width: 100%;
}
.full-width{
  width: 100%;
}
