.contents{
  background-image: url(../images/top_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #464646;
}
.searchItems_list{
  padding-bottom: 70px;
}
.searchItems_list.first{
  @extend .searchItems_list;
  padding-top: 70px;
}
.img-center{
  margin: 0 auto;
}
