.searchForm{
  border: 2px solid black;
  padding: 5px;
  text-align: justify;
}
.searchForm:before{
  content: '';
  display: block;
  width: 100%;
}
.searchForm:after{
  content: '';
  display: inline-block;
  width: 100%;
}
.searchForm_item{
  width: auto;
  display: inline-block;
  position: relative;
}
.searchForm_item.prefecture{
  width: 17%;
}
.searchForm_item.city{
  width: 17%;
}
.searchForm_item.wage{
  width: 17%;
}
.searchForm_item.job{
  width: 17%;
}
.toSearch{
  width: 13%;
}
.toDetail{
  width: 13%;
}
.newContent{
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 49%;
  float: left;
}
.newContent.first{
  margin-right: 2%;
}
.newContent.second{
}
.contentCol{
  padding-left: 3px;
  padding-right: 3px;
}
.newContent_topImg{
  width: 100%;
}
.newContent_worker{
  margin-top: 5px;
}
.newContent_workerImg{
  width: 25%;
}
.newContent_workerName{
  display: inline;
  font-size: 90%;
}
.newContent_shopName{
  margin-top: 0;
  font-weight: bold;
}
.newContent_intro{
  color: darkorange;
  font-weight: bold;
  font-size: 90%;
}
.newContent_detail{
  font-size: 70%;
}
